body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  background-color: rgb(14, 14, 26);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
}
span {
  font-size: x-large;
  padding: 1rem;
  background: transparent;
  backdrop-filter: blur(50px);
  border-radius: 1rem;
  height: 20px;
  margin: 2rem 0;
}
.dollar {
  color: rgb(170, 247, 170);
}
header h1 img {
  padding: 0;
  margin: 0;
  width: 100px;
  backdrop-filter: blur(50px);
  border-radius: 1rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.place-bet {
  background-color: rgb(14, 14, 26);
  width: 70%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 0px 60px #1f4c65;
  color: white;
  padding: 0.5rem;
}

.buttons {
  display: flex;
  padding: 1rem;
}
.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  margin: 1rem;
  -webkit-box-reflect: below 4px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}
.feedback {
  padding: 1rem;
  width: 40%;
  margin: 2.5rem;
}
.feedback p {
  text-align: center;
  font-size: larger;
  color: rgb(255, 99, 99);
}
.input {
  z-index: 2;
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  border-radius: 1rem;
  display: none;
}
.input input {
  background-color: #212121;
  max-width: 300px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 1rem;
}

.input input:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: 0.1s;
  transition-property: box-shadow;
}
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(17, 17, 17);
}
a i {
  text-decoration: none;
  color: white;
  font-size: x-large;
  transition: 0.6s ease-in-out;
}
a i:hover {
  color: wheat;
  transform: scaleX(20px);
  transform: scale(1.7);
}
@media (max-width: 768px) {
  .container {
    height: 70vh;
  }
  .input {
    width: 90%;
  }
  .place-bet {
    width: 100%;
  }
  .menu a i {
    margin: 1rem;
  }
}
